CW/Work/CourseProject/TrainMaterials/*
CW/Work/CourseProject/CNN/cv2/*
CW/Work/CourseProject/CNN/keras/*
CW/Work/CourseProject/CNN/tensorflow/*
CW/Work/CourseProject/CNN/numpy/*
*/CW/Work/CourseProject/TrainMaterials/*
*/CW/Work/CourseProject/CNN/cv2/*
*/CW/Work/CourseProject/CNN/keras/*
*/CW/Work/CourseProject/CNN/tensorflow/*
*/CW/Work/CourseProject/CNN/numpy/*
C5/CW/Work/CourseProject/TrainMaterials/*
C5/CW/Work/CourseProject/CNN/cv2/*
C5/CW/Work/CourseProject/CNN/keras/*
C5/CW/Work/CourseProject/CNN/tensorflow/*
C5/CW/Work/CourseProject/CNN/numpy/*